@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

/* Variables */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #666;
}

.flip-card__front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.card-side {
  z-index: 10;
  position: absolute;
  top: calc(-30vh - 65px);
  font-size: 1.4rem;
}
.card-side .Login {
  position: absolute;
  content: "Log in";
  left: -130px;
  width: 100px;
  color: #323232;
  font-weight: 600;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.card-side .Signup {
  position: absolute;
  content: "Sign up";
  left: 70px;
  width: 100px;
  color: #323232;
  font-weight: 600;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.card-side .Login:hover,
.card-side .Signup:hover {
  color: #2d8cf0;
  transition: 0.4s ease-in-out;
}
